<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Recipes</title>
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script|Source+Sans+Pro:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/recipes.css" type="text/css" />
  </head>
  <body>
    <%== yield %>

    <% if session[:message] %>
      <div class='flash italic'>
        <%= session.delete(:message) %>
      </div>
    <% end %>

  </body>
</html>
