<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Recipes</title>
    <link rel="stylesheet" href="/stylesheets/recipes.css" type="text/css" />
  </head>
  <body>
    <!-- Add error and success message handling here -->
    <%== yield %>
  </body>
</html>
