<h1>Register for a New Account</h1>

<form action="/register" method="post">
  <label for='username'>Username:</label>
  <input type="text" id='username' minlength='6' maxlength='20' name="username" value="">

  <label for='password'>Password:</label>
  <input type="password" id='password' minlength='8' maxlength='20' name="password" value="">

  <table>
    <tr>
      <td>
        <button type="submit" class='register' name="button">Register</button>
      </td>
      <td>
        <a href="/register/cancel"><button type="button" class='cancel' name="cancel">Cancel</button></a>
      </td>
    </tr>
  </table>
</form>
<p class='italic'>
  Already have an account? Sign In instead!
  <a href="/signin"><button type="button" class='signin' name="button">Sign In</button></a>
</p>
