<h1>Sign In to Your Account</h1>

<form action="/signin" method="post">
  <label for='username'>Username:</label>
  <input type="text" id='username' name="username" value="">

  <label for='password'>Password:</label>
  <input type="password" id='password' name="password" value="">

  <table>
    <tr>
      <td>
        <button type="submit" class='signin' name="button">Sign In</button>
      </td>
      <td>
        <a href="/signin/cancel"><button type="button" class='cancel' name="cancel">Cancel</button></a>
      </td>
    </tr>
  </table>
</form>
<p class='italic'>
  Don't have an account? Register instead!
  <a href="/register"><button type="button" class='register' name="button">Register</button></a>
</p>
