<h1>My Recipes</h1>

<table>
  <tr>
    <td>
      <a href="/signin"><button type="button" class='signin' name="button">Sign In</button></a>
    </td>
    <td>
      <a href="/register"><button type="button" class='register' name="button">Register</button></a>
    </td>
  </tr>
</table>
